body {
background-image:url(WDF_1388922.jpg);
background-repeat: no-repeat;
}

h1 {color:white;
text-align: center;
font-size:350%;}
p {color: white;
text-align: center;
font-size:150%; }

.btn{border:yes;
color:black;
padding:15px 30px;
font-size: 20px;
cursor:pointer;
background-color: rgb(200,200,200);}
